#include "/home/stickybits/.colors/material"

! font
xterm*faceName: terminus:size=11

! scrollback buffer
XTerm.vt100.saveLines: 5000
XTerm.vt100.scrollBar: true
XTerm.vt100.scrollbar.width: 8

! screen settings
Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 90
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

